<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Joshua Wood" %></title>
    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag "main" %>
  </head>
  <body>
    <header>
      <div class="container">
<pre>
   ___           _     _       _   _       _            
  |_  |         | |   ( )     | \ | |     | |           
    | | ___  ___| |__ |/ ___  |  \| | ___ | |_ ___  ___ 
    | |/ _ \/ __| '_ \  / __| | . ` |/ _ \| __/ _ \/ __|
/\__/ / (_) \__ \ | | | \__ \ | |\  | (_) | ||  __/\__ \
\____/ \___/|___/_| |_| |___/ \_| \_/\___/ \__\___||___/
                                                        
</pre>
        <nav>
          <ul>
            <li><%= link_to "Home", "/", data: {prefetch: true} %></li>
            <li><%= link_to "About", "/about", data: {prefetch: true} %></li>
            <% if current_page.path == 'index.html' %>
            <li class="muted">Updated <span class="timeago" datetime="<%= build_time %>"><%= build_time.strftime("%B #{build_time.day.ordinalize}, %Y %H:%M") %></span></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
